.gitignore
*.DS_Store  
Thumbs.db  
*.sw?  
.#*  
*#  
*~  
*.sublime-*  
  
# Build Artifacts  
  
.gradle/  
build/   
bin/  
dependency-reduced-pom.xml  
  
# Eclipse Project Files  
  
.classpath  
.project  
.settings/
.metadata/
test/
*/target/
Servers/
.recommenders/
  
  
# IntelliJ IDEA Files  
  
*.iml  
*.ipr  
*.iws  
*.idea